[Unit]
Description=Klaw Gateway
Documentation=https://github.com/klaw-project/klaw
After=network.target klaw-engine.service
Wants=klaw-engine.service

[Service]
Type=simple
Environment=HOME=%h
ExecStart=/usr/bin/java -Xms32m -Xmx128m -jar %h/.local/share/klaw/bin/klaw-gateway.jar
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=klaw-gateway

[Install]
WantedBy=default.target
